@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #EC4F3E;
    --color-secondary: #6B7280;
    --color-base-200:white
  }
@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: #EC4F3E;
    --color-secondary: #f2f4f6;
    --color-base-200:black
  }

@font-face {
    font-family: Montserrat;
    src: url('../src/fonts/Montserrat.ttf') format('opentype');
}

@font-face {
    font-family: EduSAHand;
    src: url('../src/fonts/EduSAHand.ttf') format('opentype');
}


@theme {
    --font-primaryFont: "Montserrat", sans-serif;
    --font-seconderyFont: "EduSAHand", sans-serif;
  }

nav .active,footer .active{
    color: #EC4F3E;
    font-weight: 600;
}